.container {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin: auto;
	max-width: 1408px;
	min-height: calc(100dvh - 46px);
	padding: 46px 0 0 0;
}

@media screen and (max-width: 1270px) {
  .container {
		align-items: center;
		flex-direction: column-reverse;
		justify-content: flex-end;
		margin: 0
	}
}