.header {
    --headerLight: #e6e6e6;
    --headerDark: #232323;
    --itemHoverLight: #00000040;
    --itemHoverDark: #ffffff40;

    background: light-dark(var(--headerLight), var(--headerDark));
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding: 8px;
    position: fixed;
	user-select: none;
    width: 100%;
    z-index: 2;

    .logo {
        &.small {
            display: none;
        }

        &.big {
            display: block;
        }
    }

    .navigator {
        display: flex;
        justify-content: center;
        width: calc(100%-600px);

        .list {
            display: flex;
            gap: 8px;
            list-style: none;
            margin: 0;
            padding: 0;
            
            .listItem {
                .itemLink {
                    align-items: center;
                    border-radius: 8px;
                    color: light-dark(var(--textLight), var(--textDark));
                    cursor: pointer;
                    display: flex;
                    gap: 10px;
                    height: 100%;
                    padding: 0 10px;
                    text-decoration: none;
                    transition: ease 0.2s;

                    .linkIcon {
                        display: block;
                        font-size: 16px;
                    }

                    .linkText {
                        margin: 0;
                    }
                }

                .itemLink:hover {
                    background: light-dark(var(--itemHoverLight), var(--itemHoverDark));
                }
            }
        }
    }

    .options {
        display: flex;
        justify-content: flex-end;
        width: 300px;

        .lightDark {
            align-items: center;
            border-radius: 8px;
			cursor: pointer;
            display: flex;
            gap: 10px;
            padding: 0 10px;
            transition: ease 0.2s;
            
            .ldIcon {
                font-size: 16px;
            }

            .ldText {
                margin: 0;
            }
        }

        .lightDark:hover {
            background: light-dark(var(--itemHoverLight), var(--itemHoverDark));
        }
    }
}

@media screen and (max-width: 940px) {
    .header {
        .logo {
            &.small {
                display: block;
            }
    
            &.big {
                display: none;
            }
        }

        .navigator {
            .list {
                .listItem {
                    .itemLink {
                        width: 20px;
                        justify-content: center;

                        .linkText {
                            display: none;
                        }
                    }
                }
            }
        }

        .options {
            width: 103px;

            .lightDark {
                width: 20px;
                justify-content: center;

                .ldText {
                    display: none;
                }
            }
        }
    }
}